Isabelle Wakisa B30311 S24B38/019

Import libraries as well as warnings

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib as mat

In [4]:
import seaborn as sns

In [5]:
import plotly.express as px

In [6]:
import warnings 
warnings.filterwarnings("ignore")

In [7]:
import matplotlib.pyplot as plt

In [15]:
data=pd.read_excel("Bike_Sales.xlsx")

In [16]:
data

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2017-01-01,1,January,2017,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",2,1519,2443,1848,3038,4886
1,2017-01-01,1,January,2017,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2,1252,2295,2086,2504,4590
2,2017-01-01,1,January,2017,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,2814,4342,7156
3,2017-01-01,1,January,2017,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",2,713,1120,814,1426,2240
4,2017-01-01,1,January,2017,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",2,344,540,392,688,1080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2021-12-31,31,December,2021,52,Adults (35-64),F,United Kingdom,England,Bikes,Road Bikes,"Road-250 Black, 58",2,1555,2443,1776,3110,4886
113032,2021-12-31,31,December,2021,25,Young Adults (25-34),F,Germany,Hessen,Bikes,Road Bikes,"Road-550-W Yellow, 38",1,713,1120,407,713,1120
113033,2021-12-31,31,December,2021,26,Young Adults (25-34),M,Australia,Queensland,Bikes,Road Bikes,"Road-550-W Yellow, 42",1,713,1120,407,713,1120
113034,2021-12-31,31,December,2021,33,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 38",1,1252,2295,1043,1252,2295
113035,2021-12-31,31,December,2021,44,Adults (35-64),M,Australia,Victoria,Bikes,Road Bikes,"Road-550-W Yellow, 42",1,713,1120,407,713,1120

In [17]:
data.describe()

,Date,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,2020-01-06 01:36:09.376127744,15.665753,2019.520153,35.919212,11.901660,267.296366,452.938427,372.681358,469.318695,842.000053
min,2017-01-01 00:00:00,1.000000,2017.000000,17.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000
25%,2019-01-09 00:00:00,8.000000,2019.000000,28.000000,2.000000,2.000000,5.000000,39.000000,28.000000,70.000000
50%,2019-10-16 00:00:00,16.000000,2019.500000,35.000000,10.000000,9.000000,24.000000,135.000000,108.000000,245.000000
75%,2021-01-28 00:00:00,23.000000,2021.000000,43.000000,20.000000,42.000000,70.000000,432.000000,432.000000,880.000000
max,2021-12-31 00:00:00,31.000000,2021.000000,87.000000,32.000000,2171.000000,3578.000000,26158.000000,42978.000000,69136.000000
std,NaN,8.781567,1.179704,11.021936,9.561857,549.835483,922.071219,595.080571,884.866118,1466.202934

In [21]:
data.dtypes

Date                datetime64[ns]
Day                          int64
Month                       object
Year                         int64
Customer_Age                 int64
Age_Group                   object
Customer_Gender             object
Country                     object
State                       object
Product_Category            object
Sub_Category                object
Product                     object
Order_Quantity               int64
Unit_Cost                    int64
Unit_Price                   int64
Profit                       int64
Cost                         int64
Revenue                      int64
dtype: object

In [18]:
data.isnull().sum()

Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

In [23]:
new_data = data.drop_duplicates()

In [31]:
data.shape

(113036, 18)

In [29]:
def remove_outliers(new_data,columns):
    for column in columns:
        q_1=data[column].quantile(.25)
        q_2=data[column].quantile(.75)
        IQR=q_2-q_1
        upper_bound=q_2+IQR*1.5
        lower_bound=q_1-IQR*1.5

        data[column]=np.where(data[column]>upper_bound,upper_bound,data[column])
        data[column]=np.where(data[column]<lower_bound,lower_bound,data[column])
    return data

columns_to_clean=['Customer_Age','Cost','Revenue','Profit','Unit_Price','Unit_Cost']
new = pd.DataFrame(data)

cleaned =remove_outliers(new,columns_to_clean)

In [30]:
cleaned.describe()

,Date,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,2020-01-06 01:36:09.376127744,15.665753,2019.520153,35.887921,11.901660,30.621094,54.412152,298.955762,304.484580,615.297171
min,2017-01-01 00:00:00,1.000000,2017.000000,17.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000
25%,2019-01-09 00:00:00,8.000000,2019.000000,28.000000,2.000000,2.000000,5.000000,39.000000,28.000000,70.000000
50%,2019-10-16 00:00:00,16.000000,2019.500000,35.000000,10.000000,9.000000,24.000000,135.000000,108.000000,245.000000
75%,2021-01-28 00:00:00,23.000000,2021.000000,43.000000,20.000000,42.000000,70.000000,432.000000,432.000000,880.000000
max,2021-12-31 00:00:00,31.000000,2021.000000,65.500000,32.000000,102.000000,167.500000,1021.500000,1038.000000,2095.000000
std,NaN,8.781567,1.179704,10.921009,9.561857,40.233516,64.797787,341.123735,375.207408,722.147599

In [33]:
cleaned['Product_Category'].unique()
cleaned['Product_Category'].value_counts()

Product_Category
Accessories    70120
Bikes          25982
Clothing       16934
Name: count, dtype: int64

Which variables are most key in determing the product_category?

In [25]:
new_data["Day"]= new_data["Day"].astype("object")

In [26]:
new_data.dtypes

Date                datetime64[ns]
Day                         object
Month                       object
Year                         int64
Customer_Age                 int64
Age_Group                   object
Customer_Gender             object
Country                     object
State                       object
Product_Category            object
Sub_Category                object
Product                     object
Order_Quantity               int64
Unit_Cost                    int64
Unit_Price                   int64
Profit                       int64
Cost                         int64
Revenue                      int64
dtype: object

In [27]:
cont_data = new_data.select_dtypes(exclude="object")
cont_data

,Date,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2017-01-01,2017,17,2,1519,2443,1848,3038,4886
1,2017-01-01,2017,23,2,1252,2295,2086,2504,4590
2,2017-01-01,2017,33,2,2171,3578,2814,4342,7156
3,2017-01-01,2017,39,2,713,1120,814,1426,2240
4,2017-01-01,2017,42,2,344,540,392,688,1080
...,...,...,...,...,...,...,...,...,...
113031,2021-12-31,2021,52,2,1555,2443,1776,3110,4886
113032,2021-12-31,2021,25,1,713,1120,407,713,1120
113033,2021-12-31,2021,26,1,713,1120,407,713,1120
113034,2021-12-31,2021,33,1,1252,2295,1043,1252,2295
113035,2021-12-31,2021,44,1,713,1120,407,713,1120

In [28]:
cat_data = new_data.select_dtypes(include="int64")
cat_data

,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2017,17,2,1519,2443,1848,3038,4886
1,2017,23,2,1252,2295,2086,2504,4590
2,2017,33,2,2171,3578,2814,4342,7156
3,2017,39,2,713,1120,814,1426,2240
4,2017,42,2,344,540,392,688,1080
...,...,...,...,...,...,...,...,...
113031,2021,52,2,1555,2443,1776,3110,4886
113032,2021,25,1,713,1120,407,713,1120
113033,2021,26,1,713,1120,407,713,1120
113034,2021,33,1,1252,2295,1043,1252,2295
113035,2021,44,1,713,1120,407,713,1120

In [34]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
import numpy as np

#categorical variables for the analysis
categorical_vars = ['Age_Group', 'Customer_Gender', 'Country', 'State', 'Sub_Category']
cleaned['Product_Category'] = LabelEncoder().fit_transform(cleaned['Product_Category'])
# Encoding categorical variables
for var in categorical_vars:
    cleaned[var] = LabelEncoder().fit_transform(cleaned[var])

# Defining the features and target variable of the chi2 test
X = cleaned[categorical_vars + ['Customer_Age', 'Order_Quantity', 'Unit_Cost', 'Unit_Price']]
y = cleaned['Product_Category']

chi2_values, p_values = chi2(X, y)
chi2_results = pd.DataFrame({'Feature': X.columns, 'Chi2': chi2_values, 'P-Value': p_values})
print(chi2_results.sort_values(by='Chi2', ascending=False))

           Feature          Chi2       P-Value
8       Unit_Price  8.022734e+06  0.000000e+00
7        Unit_Cost  5.718714e+06  0.000000e+00
6   Order_Quantity  3.125316e+05  0.000000e+00
4     Sub_Category  1.434685e+04  0.000000e+00
3            State  2.744677e+03  0.000000e+00
5     Customer_Age  2.790954e+02  2.484248e-61
2          Country  1.676708e+02  3.897107e-37
1  Customer_Gender  9.186767e+00  1.011856e-02
0        Age_Group  5.518896e+00  6.332673e-02

Using ANOVA Test to check for the relationship of categorical and continuous variables

In [36]:
import pandas as pd
from scipy.stats import f_oneway

def FunctionAnova(inpData, TargetVariable, CategoricalPredictorList):
    # we make sure that the target and predictor variables are encoded as categorical codes
    inpData[TargetVariable] = inpData[TargetVariable].astype('category').cat.codes
    
    for predictor in CategoricalPredictorList:
        inpData[predictor] = inpData[predictor].astype('category').cat.codes
        
        # we  group the data by the categorical predictor and apply the target variable
        CategoryGroupLists = inpData.groupby(predictor)[TargetVariable].apply(list)
        
        # Perform ANOVA
        AnovaResults = f_oneway(*CategoryGroupLists)
        
        # Check if p-value is significant
        if AnovaResults[1] < 0.05:
            print(f'{predictor} is correlated with {TargetVariable} | P-Value: {AnovaResults[1]}')

# call for the  to check for what categorical values are correlated
CategoricalPredictorList = [ "Customer_Age", "Order_Quantity", "Unit_Cost", "Unit_Price", "Profit", "Cost", "Revenue"]
FunctionAnova(inpData=new_data, TargetVariable='Product_Category', CategoricalPredictorList=CategoricalPredictorList)

Customer_Age is correlated with Product_Category | P-Value: 1.8531075842083862e-67
Order_Quantity is correlated with Product_Category | P-Value: 0.0
Unit_Cost is correlated with Product_Category | P-Value: 0.0
Unit_Price is correlated with Product_Category | P-Value: 0.0
Profit is correlated with Product_Category | P-Value: 0.0
Cost is correlated with Product_Category | P-Value: 0.0
Revenue is correlated with Product_Category | P-Value: 0.0

Generation of model to classify Product_Category

In [37]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

# Assuming X and y are your features and target data
# Step 1: Encode categorical features using One-Hot Encoding
X = pd.get_dummies(X, drop_first=True)

# Step 2: Encode the target variable (if necessary)
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

# Step 3: Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 4: Align the training and test sets to ensure they have the same columns after encoding
X_train, X_test = X_train.align(X_test, join='left', axis=1, fill_value=0)

# Step 5: Create and train the Random Forest model
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# Now you can use `model` to make predictions or evaluate it on the test set

RandomForestClassifier(random_state=42)

In [38]:
#Accuracy of the model
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

# Predicting on the test set
y_pred = model.predict(X_test)

# Evaluate model performance
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.9999557678697806
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     14034
           1       1.00      1.00      1.00      5220
           2       1.00      1.00      1.00      3354

    accuracy                           1.00     22608
   macro avg       1.00      1.00      1.00     22608
weighted avg       1.00      1.00      1.00     22608

Confusion Matrix:
 [[14034     0     0]
 [    0  5220     0]
 [    1     0  3353]]

In [39]:
import pickle

saving the model

In [40]:
model_filename ='Bike_Sales_model.pkl'
with open(model_filename, 'wb') as file:
    pickle.dump(model, file )

print(f'Model saved as {model_filename}')

Model saved as Bike_Sales_model.pkl